{% extends 'flatpages/default.html' %}

{% load censor_filter %}

{% block title %}
Поиск новости
{% endblock title %}

{% block content %}
Поиск новостей:

   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

<hr>
{% if search_news %}
<h1>Всего новостей: {{ search_news|length }}</h1>
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Краткое описание</td>
        </tr>
        {% for news in search_news %}
        <tr>
            <td>{{ news.title|censor:news.title }}</td>
            <td>{{ news.time_create|date:'d.m.Y' }}</td>
            <td>{{ news.content|truncatechars:20|censor:news.content }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>Новостей нет!</h2>
{% endif %}
  {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}